{% extends "front.html.twig" %}
{% block banner %}


{% endblock %}

{% block body %}
<br><br><br><br><br><br><br><br><br><br>


<html>
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
  
    {% for s in Hebergements %}
			<tr>
				<TD><img src="{{ asset('/uploads/images/' ~ s.getImage()) }}" width="100px" height="100px" alt="" /></TD>
				<td>{{s.id}}</td>

				<td>{{s.nomheberg}}</td>			<br>
        <td>{{ s.deschebergement}}</td><br>
        <td>{{ s.localisation}}</td><br>

			</tr>	
		{% endfor %}
  </body>
</html>
    {{form(form_NSC)}}
{% endblock %}